* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  font-size: 1.6rem;
  background-color: rgb(58, 57, 57);
}

nav {
  height: 6rem;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(252, 249, 249, 0.1);
  transition: all 0.2s ease-out;
}
.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5rem;
  transition: all 0.2s ease-out;
}
.logo {
  /* border: 1px solid red; */
}

.nav-items {
  /* align-self: center; */
  /* border: 1px solid aquamarine; */
  /* margin-top: 4px; */
}
.nav-list {
  list-style: none;
  justify-content: space-between;
  position: relative;
}
.nav-list li {
  display: inline;
  padding-inline: 1rem;

  color: gray;
}
.nav-list li:hover {
  cursor: pointer;
}
.nav-list span:first-of-type {
  position: absolute;
  bottom: -8px;
  left: 10px;
  width: 40px;
  height: 3px;
  background-color: #07fffd;
}
.fa-solid {
  color: #07fffd;
  font-size: 2.5rem;
}
.hidden {
  display: none;
}
.show {
  display: block;
}

.bars:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .container {
    justify-content: space-between;
    padding-left: 5px;
  }
  .bars {
    display: block;
  }
  .nav-items {
    display: none;
  }
  .nav-items-vertical .nav-list {
    display: flex;
    flex-flow: column;
    line-height: 3;
    margin: 1rem;
  }
  .nav-items-vertical .nav-list li:hover {
    background-color: #07fffd;
    color: #fff;
    padding-left: 2rem;
    transition: all 1s ease-out;
  }
}
