* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(247, 156, 140);
  min-height: 100vh;

  display: grid;
  justify-content: center;
  align-items: center;
}
.container {
  width: 450px;
  height: 500px;
  outline: none;
}
.header {
  text-align: center;
  background-color: lightseagreen;
  display: grid;
  place-content: center;
  height: 180px;
  border-radius: 10px 10px 0 0;
}
.header h1 {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}
.header p {
  font-size: 16px;
  letter-spacing: 2px;
}
.main {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}
.week-days {
  width: 100%;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
.week-days div {
  width: calc(100% / 7);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.days {
  width: 100%;

  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.days div {
  width: calc(100% / 7);
  padding-block: 12px;
  font-size: 14px;
}
.days div:not(.empty):hover {
  border: 1px solid gray;
  cursor: pointer;
}
.today {
  background-color: aqua;
  border-radius: 2px;
}
